body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: 20px;
    line-height: 1.5;
    padding:0;
    margin:0;
    background-color:white;
}

.contenedor{
    width:100%;
    margin:auto;
    overflow: hidden;
   
}

.contenedor1{
    width:100%;
    margin:0;
    overflow: hidden;
    background-color: #eec0bf;
}

header{
    background-color: #eec0bf;
    color:white;
    padding-top: 20px;
    border-top:black 20px solid;
    border-bottom:black 20px solid;
    border-left:black 20px solid;
    border-right:black 20px solid;

}

header a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    
}

header ul{
    margin:0;
    padding:0;

}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header nav{
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
}

#introduccion{
    min-height:750px;
    background:url("../imagenes/im.jpg");
    background-repeat: no-repeat;
    text-align: center;
    
}

#introduccion h1{
margin-top:250px;
margin-left: 200px;
font-size: 700%;
color:black;

}

#introduccion p{
font-size: 200%;
margin-left: 300px;
margin-right: 150px;
margin-bottom: 10px;


}

.contenedor2{
    width:80%;
    margin:auto;
    overflow: hidden;
    background-color: #eec0bf;
    background:url("../imagenes/6.jpg");
    background-repeat: no-repeat;

    
}

.contenedor3{
    width:80%;
    margin:auto;
    overflow: hidden;
    background-color:#white;
   display: flex;
   align-items: flex-start;
   

    
}

#portafolio{
    min-height:750px;
    text-align: center;
    
    
}

#portafolio h2{
    margin-top:10px;
    font-size: 500%;
    color:black;

    
    }

    #portafolio h3{
        margin-top:2px;
        font-size: 200%;
        color:black;
       
        
        }

  .imagen{
      width: 10%;
      

  }

.circulo{
    color: #eec0bf;
    width:90%;
    height:50%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    display: inline-block;
    border-top:black 20px solid;
    border-bottom:black 20px solid;
    border-left:black 20px solid;
    border-right:black 20px solid;

    
    

}

#acerca{
    min-height:750px;
    text-align: center;
    display: flex;
flex-direction: column;


    
}

#acerca h2{
    margin-top:50px;
    font-size: 500%;
    color:black;
    
    }

#acerca h3{
margin-top: 5px;
 font-size: 200%;
color:white;
        
        }
.info{
            color: #eec0bf;
            width:90%;
            height:50%;
            margin-top: 10px;
            margin-bottom: 100px;
            margin-right: 100px;
            margin-left: 100px;
            background-color: white;
            display: inline-block;
            border-top:black 10px solid;
            border-bottom:black 10px solid;
            border-left:black 10px solid;
            border-right:black 10px solid;
            flex-direction: column;
           
        }

.titulos{
    width: 60%;
    background-color: #eec0bf;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 50%;
    margin-bottom: 70px;
    text-align: center;
    border-left: black 10px solid;
    border-right: black 10px solid;
    border-top: black 10px solid;
    border-bottom: black 10px solid;
    
   
}
.foto{
    width: 30%;
    height: 10%;

}

.ima{
    width: 100%;
    background-color: #eec0bf;
    background:url("../imagenes/5.jpg");
    background-repeat: no-repeat;
}
